.Landpage {

  h1,
  h6 {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 30px;
  }

  h1,
  h5 {
    font-weight: normal;
  }

  .navbar-brand {
    margin-left: 3rem;
  }

  .limargin {
    margin-right: 3rem;
  }

  .NavCl {
    background-color: white;
  }

  .CardTit {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
  }

  .navbar-nav>li>a {
    color: #666666;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
  }

  a:hover {
    text-decoration: none;
  }

  .banner {
    text-align: center;
  }

  .btn {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  .bt-pr1 {
    color: white;
    background-color: #0082ff;
  }

  .bt-pr1:hover {
    color: #0082ff;
    background-color: white;
  }

  .bt-pr2 {
    color: #0082ff;
    background-color: white;
  }

  .bt-pr2:hover {
    color: white;
    background-color: #0082ff;
  }

  .Gitbtn {
    background-color: #3e3f42;
    border: 8px;
    border-color: white;
    box-shadow: 0px;
    box-shadow: none;
    font-family: "Ubuntu", sans-serif;
  }

  .Gitbtn:hover,
  .Gitbtn:active,
  .Gitbtn:focus {
    border-color: white;
    box-shadow: none;
  }

  .banner-txt {
    font-family: "Ubuntu", sans-serif;
    font-weight: lighter;
    font-size: 2.5rem;
  }

  .lead {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #999;
  }

  .boxshad {
    box-shadow: 20px 20px 50px #dfdede;
  }

  .card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
  }

  .banner-txt2 {
    font-family: Ubuntu;
    font-weight: lighter;
    font-size: 2.3rem;
  }

  .HomeColo {
    background-color: #f9f9f9;
  }

  .footer-brand {
    font-size: 1.4rem;
    color: #0082ff !important;
  }

  ul.footer-list>li {
    display: inline;
    margin: .5rem;
  }

  .iconcard {
    text-align: center;
  }

  .footer {
    border-top: 0.3px solid lightgray;
  }

  .iconCommunity a {
    color: grey;
  }

  .iconCommunity a:hover {
    color: #0082ff;
    cursor: pointer;
  }

  .clicon {
    color: #0082ff;
  }

  .premium-change {
    border-style: solid;
    border-width: 2px;
    border-color: #0082ff;
  }

  // New card style--
  .comingsoon-change {
    border-style: solid;
    border-width: 2px;
    border-color: #0082ff;
    opacity: 0.5;
  }

  // {-------}
  .btn-premium {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    border-radius: 100px;
  }

  .premiumCardBody {
    padding: .75rem;
  }

  .text-mid-1 {
    padding-top: 5rem;
  }

  .icons-all {
    padding-bottom: 5rem;
  }

  .premiumcol {
    text-align: end;
  }

  .cardFeatures {
    border: 0px solid rgba(0, 0, 0, .125);
  }

  .footer-list a {
    text-decoration: none;
    color: #999;
    list-style: none;
  }

  .footer-list a:hover {
    color: #0082ff;
  }

  @media (max-width: 991px) {
    .input-container-btn {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 20px;
      align-self: stretch;
      max-width: 100%;
      
    }
    .input-container-btn .btn {
      font-size: 16px;
    }
    
    #basic-nav-dropdown {
      display: inline !important;
    }

    .navbar-brand {
      margin-left: 2px;
    }

    .img-fluid {
      margin-top: 1rem;
    }

    .limargin {
      margin-right: 0px;
    }
  }
}

.form-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 124px;
  // padding-bottom: 124px;

  input:focus {
    outline: none;
  }
}

.form {
  background-color: #fff;
  padding: 1rem;
  max-width: 800px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  // box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-family: Ubuntu;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: left;

}

.form-sub-title {
  font-family: Ubuntu;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #475467;
  text-align: left;

}

.form-label {
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  color: #344054;
  text-align: left;
}

.form-input {
  display: webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  overflow: hidden;
  color: var(--gray-500, #667085);
  text-overflow: ellipsis;
  font-family: ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */

}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  align-self: stretch;
}

.input-container input {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-300, #D0D5DD);
  background: var(--base-white, #FFF);

  /* Shadows/shadow-xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.input-container input {
  border-radius: 8px;
  border: 1px solid var(--gray-300, #D0D5DD);
  background: var(--base-white, #FFF);

  /* Shadows/shadow-xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.submit {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #0082FF;
  background: #0082FF;
  color: var(--base-white, #FFF);
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */

  /* Shadows/shadow-xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.pattern {
  padding-top: 35px;
}

.input-container-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  align-self: stretch;
  max-width: 100%;
  
}
// .input-container-btn .btn {
//   font-size: 24px;
// }

@media (max-width: 991px) {

  .form-head {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .input-container-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    align-self: stretch;
    max-width: 65%;
    
  }
  .input-container-btn .btn {
    font-size: 16px;
  }

}

.success-message {
  max-width: 100%;
  align-content: center;
  color: #0082ff;
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.02em;
  // padding-top: 35px;
}

@media (min-width: 1200px) {
  .img-fluid1 {
    max-width: 100%;
  }

  .input-container {
    max-width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    align-self: stretch;
  }

  .input-container-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    align-self: stretch;
    max-width: 65%;
    
  }
  .input-container-btn .btn {
    font-size: 16px;
  }
  .pattern {

    max-width: 60%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 180px;
    padding-bottom: 100px;
  }

  .form-head {
    padding-top: 175px;
    /* Adjust padding for larger screens */
    padding-bottom: 100px;
    /* Adjust padding for larger screens */
  }

  .form {
    max-width: 90%;
    /* Expand the form to the full width of the container */
  }

  .form-title {
    font-size: 28px;
    /* Increase font size for the title */
    line-height: 30px;
    /* Adjust line height for the title */
    max-width: fit-content;
  }

  .form-sub-title {
    font-size: 12px;
    /* Increase font size for the subtitle */
    line-height: 24px;
    /* Adjust line height for the subtitle */
  }

  .form-label {
    font-size: 14px;
    /* Increase font size for labels */
  }

  .form-input {
    font-size: 14px;
    /* Increase font size for input fields */
    line-height: 20px;
    /* Adjust line height for input fields */
  }

  .input-container input {
    padding: 4px 10px;
    /* Adjust padding for input fields */
  }

  .submit {
    font-size: 18px;
    /* Increase font size for the button */
    padding: 14px 20px;
    /* Adjust padding for the button */
  }
}

@media (min-width: 1800px) {

  .input-container-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    align-self: stretch;
    max-width: 65%;
    
  }
  .input-container-btn .btn {
    font-size: 16px;
  }

  // .Landpage .btn {
  //   font-family: "Ubuntu", sans-serif;
  //   font-size: 18px;
  //   font-weight: 500;
  // }

  .pattern {
    padding-right: 55px;
    padding-top: 135px;
    padding-bottom: 110px;
  }

  .form-head {
    padding-top: 320px;
    /* Adjust padding for larger screens */
    padding-bottom: 100px;
    /* Adjust padding for larger screens */
    padding-left: 200px;
  }

  .form {
    max-width: 100%;
    /* Expand the form to the full width of the container */
  }

  .form-title {
    font-size: 50px;
    /* Increase font size for the title */
    line-height: 48px;
    /* Adjust line height for the title */
    max-width: fit-content;
  }

  .form-sub-title {
    font-size: 25px;
    /* Increase font size for the subtitle */
    line-height: 28px;
    /* Adjust line height for the subtitle */
  }

  .form-label {
    font-size: 16px;
    /* Increase font size for labels */
  }

  .form-input {
    font-size: 16px;
    /* Increase font size for input fields */
    line-height: 20px;
    /* Adjust line height for input fields */
  }

  .input-container input {
    padding: 14px 18px;
    /* Adjust padding for input fields */
  }

  .submit {
    font-size: 18px;
    /* Increase font size for the button */
    padding: 14px 20px;
    /* Adjust padding for the button */
  }
}

@media (max-width: 800px) {
  .pattern {
    padding-right: 35px;
  }
}