.Landpage{
    h1,
    h6 {
      font-family: Ubuntu;
      font-style: normal;
      font-size: 30px;
    }
    h1,
    h5 {
      font-weight: normal;
    }
    .NavCl{
      background-color: white;
    }
    .CardTit{
      font-size: medium;
      font-weight: normal;
    }
    .navbar-nav > li > a{
      color: #666666;
    }
    a:hover {
      text-decoration: none;
    }
    .banner{
      text-align: center;
    }
    .btn{
    font-style: lighter;
    }
    .Gitbtn{
      background-color: #3E3F42;
    }
    .banner-txt{
    font-family: Ubuntu;
    font-weight: lighter;
    font-size: 2.5rem;
    }
    .lead{
      font-family: Ubuntu;
    font-weight: normal;
    font-size: 1rem;
    color: #999;
    }
    .boxshad {
      box-shadow: 20px 20px 50px #dfdede;
    }
    .banner-txt2{
      font-family: Ubuntu;
      font-weight: lighter;
      font-size: 2.3rem;
      }
    .HomeColo{
      background-color: #F9F9F9;
    }

    .footer-brand{
    font-size: 1.4rem;
    color: #0082FF !important;
    }
   
    ul.footer-list > li{
      display: inline;
      margin: 1rem;
    }
    .iconcard{
      text-align: center;
    }

    .footer{
      border-top: .3px solid lightgray;
    }
    .iconCommunity a{
      color: grey;
    }
    .iconCommunity a:hover{
      color: #0082FF;
      cursor: pointer;
    }
    .clicon{
      color: #0082FF;
    }
}