.Twitter {
    overflow:hidden;

    
    // .marquee{
    //     display:block;
    //   position:relative;
    //   animation:scroll 10s linear infinite;
    //   }
      
    //   .marquee:hover {
    //       animation-play-state: paused
    //   }

    //   .img1 {
    //     float:left;
    //   }
      
    //   /* Make it move */
    //   @keyframes scroll{
    //   0% {left:50%;}
    //   100% {left:-50%;}
    //   }
}